.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 2em;
  margin: 0 6vw;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-radius: 2em 2em 0 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}

.left,
.center,
.right {
  flex: 1;
  display: flex;
}

.center {
  text-align: center;
  flex-direction: column;
}

.right {
  justify-content: right;
}

.headerTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.headerDate {
  color: #999;
}

.backButton {
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  color: #666;
}

.iconButton {
  padding: 0.3em;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #666;
}

.noteArea {
  flex-grow: 1;
  padding: 1em;
  overflow-y: auto;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
  font-size: 1.15em;
}

.noteContent {
  color: black;
}
