.reportParent {
  font-family: Special Elite;
  font-size: 1.2em;
  color: black;

  background-color: white;
  padding: 2em;

  height: 100%;
  overflow: auto;
  scrollbar-color: gray transparent;
  scrollbar-gutter: stable;
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 1em;
  text-align: center;
}

.smallTitle {
  margin-top: 1.1em;
  margin-bottom: 0.4em;
  font-size: 1.25em;
}

.orderedList {
  li {
    margin-inline-start: 1.5em;
  }
}
