.letter {
  font-family: Patrick Hand;
  font-size: 2em;
  line-height: 1.1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;

  height: 100%;
  overflow: auto;
  scrollbar-color: gray rgb(239, 240, 234);
}

.page1 {
  background-image: url("./paper.jpg");
  padding: 1.8em;
}

.line {
  margin-bottom: 1em;
}
