.newspaperParent {
  font-family: Newsreader;
  padding: 2em;
  background-color: rgb(255, 255, 255); /* light light gray*/
  color: black;

  height: 100%;
  overflow: auto;
  scrollbar-color: gray transparent;
  scrollbar-gutter: stable;

  & h3 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    line-height: 1.1em;
  }

  & div {
    font-size: 1.3em;
  }
}

.subheader {
  font-style: italic;
  & div {
    font-size: 0.9em;
    line-height: 1em;
  }
}
