.container {
  background: white;
  padding: 2em;
  color: #000000;
  height: 100%;
  overflow-y: auto;
  font-family: Roboto;
}

.breadcrumb {
  color: #999;
  margin-bottom: 1em;
  font-weight: 500;
}

.breadcrumbLink {
  color: rgb(0, 110, 255);
}

.mainTitle {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.2;
}

.dateSubtitle {
  font-size: 1em;
  color: #999;
  margin-bottom: 1.5em;
  font-weight: 400;
}

.section {
  margin-bottom: 2em;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: 600;
}
