html {
  /* Prevent tooltips from randomly rendering scrollbars */
  scrollbar-gutter: stable;
  overflow-y: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* overriding react bootstrap */
.flex-row.nav.nav-tabs {
  justify-content: center;
  border-bottom: none;
}

#top-tabs-tab-objectives {
  background-color: rgb(230, 231, 153);
  color: black;

  &.active {
    background-color: rgb(248, 250, 117);
  }
}

#top-tabs-tab-freeform {
  background-color: rgb(196, 222, 233);
  color: black;

  &.active {
    background-color: rgb(206, 240, 255);
  }
}

.nav-pills .nav-item {
  width: 100%;
}

/* hack bootstrap disabled nav item text color */
.nav-item {
  .nav-link.disabled,
  .nav-link:disabled {
    color: gray;
    cursor: not-allowed;
  }

  .nav-link {
    color: #2e81ff;
  }
}

/* hack bootstrap to make an orange version for nav*/
.orange-nav-bootstrap .nav-pills {
  .nav-link {
    color: var(--chapter2-orange-default);
  }
  .nav-link.active {
    color: white;
    background: var(--chapter2-orange-default);
  }
  .nav-link.active:hover {
    color: white;
  }
  .nav-link:hover {
    color: var(--chapter2-orange-hover);
  }
}

/* hack bootstrap disabled select forms */
select.form-select:disabled {
  background-color: rgb(255, 255, 255);
  background-image: none;
}

/* Style the MDX editor https://mdxeditor.dev/editor/docs/theming */
.mdxeditor {
  height: 100%;

  div {
    height: 100%;
  }

  /* blockquote for MDX was broken for some reason, need to manually add styles */
  blockquote {
    border-left: 4px solid #ccc;
    padding-left: 0.5em;
    font-style: italic;
    color: #616161;
  }

  p {
    margin-bottom: 0.5em;
  }
}
.mdxeditor-root-contenteditable {
  height: 100%;
  font-family: Pangolin;
}
