.notebookPage {
  background-color: #ffffff;
  padding: 2rem 3rem;

  /* Adjust this to change line height */
  line-height: 2rem;

  /* Create the horizontal lines */
  background-image: linear-gradient(transparent 95%, #add8e6 95%);

  /* Size and repeat the background */
  background-size: 100% 2rem; /* Must match the line-height */
  background-attachment: local;

  max-width: 100%;
  height: 100%;

  overflow: auto;
  scrollbar-width: thin;

  &.notepadStyle {
    background-color: #feffe0;
    margin: 0 10vh;
    line-height: 1.8rem;
    background-size: 100% 1.8rem;
  }
}

.textContent {
  position: relative;
  z-index: 1;
  font-family: Crafty Girls;
  font-size: 1.5em;
  color: #2c2c2c;
  /* push text slightly down so it looks like its on the line */
  padding-top: 0.25em;

  &.notepadStyle {
    font-family: Indie Flower;
    padding-top: 0.2em;
  }
}
