.reportParent {
  font-family: Special Elite;
  font-size: 1.2em;
  color: black
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 1em;
}

.smallTitle {
  margin-top: 1.1em;
  margin-bottom: .4em;
  font-size: 1.25em;
}

.page {
  background-color: white;
  padding: 1em;
}

.orderedList {
  li {
    margin-inline-start: 1.5em;
  }
}