.amazingOrdersTable {
  background-color: white;
  color: black;

  td {
    border: solid 1px;
    border-color: lightgray;
    padding: 1px 5px;
  }
}

.numberCell {
  width: 8%;
  text-align: center;
  font-weight: normal;
  color: black;
  background-color: white;
}

.dateCell {
  width: 10%;
}

.idCell {
  width: 15%;
}

.titleCell {
  max-width: 1em; /* Artificially low for the "excel" appearence */
  overflow: hidden;
  white-space: nowrap;
}

.categoryCell {
  width: 10%;
}

.priceCell {
  width: 10%;
}

.lettersRow {
  td {
    text-align: center;
  }
}

.orderRowHeader {
  td {
    font-weight: bold;
    color: white;
    background-color: gray;
  }
  .ignoreInHeaderRow {
    font-weight: normal;
    color: black;
    background-color: white;
  }
}

.red {
  background-color: rgb(252, 192, 192);
}

.orange {
  background-color: rgb(255, 214, 191);
}

.yellow {
  background-color: lightyellow;
}

.green {
  background-color: rgb(206, 255, 206);
}

.cyan {
  background-color: rgb(207, 255, 255);
}

.blue {
  background-color: rgb(175, 222, 238);
}

.purple {
  background-color: rgb(243, 197, 255);
}

.black {
  background-color: black;
  color: white;
}
