.amazingOrdersTable {
  background-color: white;
  color: black;

  td {
    border: solid 1px;
    border-color: lightgray;
    padding: 1px 5px;
  }
}

.numberCell {
  width: 8%;
  text-align: center;
  font-weight: normal;
  color: black;
  background-color: white;
}

.dateCell {
  width: 10%;
}

.idCell {
  width: 15%;
}

.titleCell {
  max-width: 1em; /* Artificially low for the "excel" appearence */
  overflow: hidden;
  white-space: nowrap;
}

.categoryCell {
  width: 10%;
}

.priceCell {
  width: 10%;
}

.lettersRow {
  td {
    text-align: center;
  }
}

.orderRowHeader {
  td {
    font-weight: bold;
    color: white;
    background-color: gray;
  }
  .ignoreInHeaderRow {
    font-weight: normal;
    color: black;
    background-color: white;
  }
}

.red {
  background-color: var(--faded-red);
}

.orange {
  background-color: var(--faded-orange);
}

.yellow {
  background-color: lightyellow;
}

.green {
  background-color: var(--faded-green);
}

.cyan {
  background-color: var(--faded-cyan);
}

.blue {
  background-color: var(--faded-blue);
}

.purple {
  background-color: var(--faded-purple);
}

.black {
  background-color: black;
  color: white;
}

.answerPage {
  margin: 5em;
  padding: 1em;
  background-color: gray;
  border-radius: 1em;
}

.answerPageInstructions {
  font-size: 1.3em;
}
