.gameParent {
  font-family: "Consolas";
  margin: 10vh auto 8vh;
  max-width: 70vw;
  height: 100%;
  font-size: 16px;
}

@media screen and (max-height: 700px) {
  .gameParent {
    font-size: 12px;
    max-width: 80vw;
  }
}

@media screen and (max-width: 1200px) {
  .gameParent {
    font-size: 12px;
    max-width: 80vw;
  }
}

.tabContent {
  max-height: 80vh;
  max-width: 50vw;
  overflow-y: auto;
  padding: 0;
}

.notesHeader {
  text-align: center;

  h2 {
    margin: 0;
  }
}

.notesButtons {
  display: flex;
  justify-content: center;
}

.notesButton {
  height: 3em;
  width: 3em;
  font-family: "Consolas";
  font-size: 1em;
  margin: 0.5em;
  cursor: pointer;
}

.yellowNotes {
  background-color: lemonChiffon;
  color: black;
}

.blueNotes {
  background-color: rgb(181, 227, 255); /* lighter lightskyblue */
  color: black;
}

.greenNotes {
  background-color: rgb(185, 255, 185); /* lighter lightgreen */
  color: black;
}

.notesTextarea {
  width: 100%;
  height: 50vh;
  max-height: 60vh;
  min-height: 15em;
  font-family: Handlee;
  font-size: 1.2em;
  font-weight: bold;
}

.notesTextarea:focus {
  outline: none;
}
