.gameParent {
  font-family: Space Mono;
  /* center game screen*/
  margin: 0 auto 0;
  padding: 10vh 0 8vh 0;
  max-width: 75vw;
  max-height: 100vh;
  min-height: 100vh;
  font-size: 16px;

  display: flex;
}

@media screen and (max-height: 800px) {
  .gameParent {
    font-size: 12px;
    max-width: 85vw;
  }
}

@media screen and (max-width: 1550) {
  .gameParent {
    font-size: 12px;
    max-width: 85vw;
  }
}

/* maintain height of game */
.col {
  height: 100%;
  padding: 0 0.5em;
}

.navCol {
  border: 1px solid var(--boostrap-blue);
  padding: 0.5em;
  height: fit-content;
}

/* hack the bootstrap nav a bit */
.tabContent {
  height: 100%;
  display: flex;

  > div {
    height: 100%;
    display: flex;
  }
}

.amazingOrdersTab {
  width: 100%;
}
