.gameParent {
  font-family: 'Consolas';
  margin: 10vh auto;
  max-width: 70vw;
  font-size: 16px;
}

@media screen and (max-height: 700px) {
  .gameParent {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .gameParent {
    font-size: 12px;
  }
}

.tabContent {
  max-height: 80vh;
  max-width: 50vw;
  overflow-y: auto;
  padding: 0 1em;
}