.gameParent {
  font-family: "Consolas";
  margin: 8vh auto;
  max-width: 70vw;
  font-size: 16px;
}

@media screen and (max-height: 700px) {
  .gameParent {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .gameParent {
    font-size: 12px;
  }
}

.tabContent {
  max-height: 80vh;
  max-width: 50vw;
  overflow-y: auto;
  padding: 0;
}

.notesHeader {
  text-align: center;
}

.notesTextarea {
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  min-height: 30em;
  font-family: Handlee;
  font-size: 1em;
}

.yellowNotes {
  background-color: lemonChiffon;
  color: black;
}

.blueNotes {
  background-color: lightskyblue;
  color: black;
}

.greenNotes {
  background-color: palegreen;
  color: black;
}
