.carousel {
  height: var(--carousel-height);
  overflow: auto;
}

.pageButtonsParent {
  /* top, sides, bottom */
  margin: 2vh auto 0;
  justify-content: center;
  font-family: Space Mono;
}

.pageButton {
  margin: 0 0.1em;
}
