.namePickerParent {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-family: Indie Flower;
  font-weight: bolder;

  background-color: gray;
  border-radius: 1em;

  select {
    width: 9.5em;
    font-size: 1.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    appearance: none;
    font-weight: bold;
    justify-content: center;
    /* background: transparent; */

    option {
      font-weight: bold;
    }
  }

  select.disabled {
    background-image: none; /* Removes the down arrow*/
  }
}

.label {
  font-size: 1.6em;
  padding: 0 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  color: black;
}

.red {
  background-color: var(--faded-red);
}

.orange {
  background-color: var(--faded-orange);
}

.yellow {
  background-color: lightyellow;
}

.green {
  background-color: var(--faded-green);
}

.cyan {
  background-color: var(--faded-cyan);
}

.blue {
  background-color: var(--faded-blue);
}

.purple {
  background-color: var(--faded-purple);
}

.black {
  background-color: black;
  color: white;
}
