.notepadParent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notesHeader {
  h2 {
    text-align: center;
  }
}

.tabs {
  font-family: Indie Flower;
  font-size: 1.3em;
  font-weight: bolder;
}

.tabCol {
  display: flex;
  flex-direction: column;
}

.tabContentRow {
  flex: 1 1 auto;
}

.tabContent {
  color: black;
  font-family: Indie Flower;
  font-size: 1em;
  font-weight: bolder;
  padding: 1em;

  overflow: auto;
}

.objectivesContent {
  height: 100%;
  background-color: rgb(252, 252, 209);
}

.freeformContent {
  height: 100%;
  background-color: rgb(230, 246, 253);
}

.notesTextarea {
  background-color: transparent;
  width: stretch;
  height: 100%;
  font-family: Indie Flower;
  font-size: 1.3em;
  font-weight: bolder;

  outline: none;
  border: none;
  resize: none;
}

/* OBJECTIVES SECTION */

.objectivesParent {
  height: 100%;
}

.objectivesHeading {
  font-size: 2em;
  line-height: 1em;
  font-weight: bolder;
  text-align: center;
}

.objectivesSectionTitle {
  font-size: 1.3em;
  text-decoration: underline;
  padding-bottom: 0;
  line-height: 1em;
  margin-top: 1.25em;
}
