.notepadParent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notesHeader {
  h2 {
    text-align: center;
  }
}

.tabs {
  font-family: Indie Flower;
  font-size: 1.3em;
  font-weight: bolder;
}

.tabCol {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabContentRow {
  flex: 1 1 auto;
  overflow-y: auto;
}

.tabContent {
  color: black;
  font-family: Indie Flower;
  font-size: 1em;
  font-weight: bolder;
  padding: 1em;

  overflow: auto;
}

.objectivesContent {
  height: 100%;
  background-color: rgb(252, 252, 209);
}

.freeformContent {
  height: 100%;
  background-color: rgb(234, 245, 250);
}

.notesTextareaParent {
  height: 100%;
}

.notesTextarea {
  background-color: transparent;
  width: stretch;
  height: 100%;
  font-family: Indie Flower;
  font-size: 1.3em;
  font-weight: bolder;

  outline: none;
  border: none;
  resize: none;
}

/* OBJECTIVES SECTION */

.objectivesParent {
  height: 100%;
}

.objectivesHeading {
  font-size: 2em;
  line-height: 1em;
  font-weight: bolder;
  text-align: center;
}

.objectivesSectionTitle {
  font-size: 1.3em;
  text-decoration: underline;
  padding-bottom: 0;
  line-height: 1em;
  margin-top: 1.25em;
}

.clearButton {
  margin-top: 1.5em;
  color: black;
  font-weight: bolder;
}

.objectivesStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.075);
  font-weight: bolder;
  cursor: help;
}

.statusText {
  font-size: 2em;
  font-family: Permanent Marker;
  font-weight: 300;

  &.correctStatus {
    color: rgb(0, 187, 0);
  }

  &.incorrectStatus {
    color: rgb(255, 94, 46);
  }
}
