.namePickerParent {
  display: flex;
  justify-content: center;
  margin: 0.25em;
  font-family: Indie Flower;
  font-weight: bolder;

  border-radius: 1em;
  border: 2px solid black;

  select {
    width: 10.5em;
    line-height: 1.1em;
    font-size: 1.2em;
    padding-top: 0em;
    padding-bottom: 0em;
    font-weight: bold;
    justify-content: center;

    option {
      font-weight: bold;
    }
  }

  select.disabled {
    background-image: none; /* Removes the down arrow*/
  }
}

.label {
  font-size: 1.2em;
  line-height: 1.1em;
  padding: 0 0.5em;
  margin-top: 0.1em; /* move the lable a tad down*/
  margin-right: 0.25em;
  margin-left: 0.25em;
  color: black;
}

.red {
  background-color: var(--faded-red);
}

.orange {
  background-color: var(--faded-orange);
}

.yellow {
  background-color: lightyellow;
}

.green {
  background-color: var(--faded-green);
}

.cyan {
  background-color: var(--faded-cyan);
}

.blue {
  background-color: var(--faded-blue);
}

.indigo {
  background-color: var(--faded-indigo);
}

.purple {
  background-color: var(--faded-purple);
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}
