.inboxParent {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.emailList {
  background-color: whitesmoke;
  color: black;
  max-width: 70%;
  margin: 0 auto;

  overflow: auto;
  scrollbar-color: gray transparent;
  scrollbar-width: thin;
}

.loggedIn {
  font-family: Space Mono;
  font-weight: bold;
  position: fixed;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  background-color: rgb(253, 255, 224);
  width: inherit;
  padding: 0.1em 0.5em;
}

.emailParent {
  font-family: Roboto;
  padding: 0.5em 2em;
  border-bottom: 1px solid grey;
}

.sender {
  font-size: 1.3em;
}

.titleDateParent {
  display: flex;
  justify-content: space-between;
}

.content {
  text-overflow: ellipsis;
  color: rgb(97, 97, 97);
}
