.wrapper {
  position: relative;
  display: inline-block;
  border: 1px solid white;
}

.image {
  max-width: 100%;
  height: auto;
}

.expandHint {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  color: white;
}
