.recipeParent {
  background-image: url("./parchment.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Gochi Hand;
  color: black;
  margin: 1vh 5vw;
  padding: 2vh 2vw;
  line-height: 1.2em;
  font-size: 1.2em;
}

.recipeHeader {
  text-align: center;
}
